@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Agora Vai</a>.</p>
</div>
