@model IEnumerable<Models.ProdutoModel>;
@{
    ViewData["Title"] = "Produtos Disponiveis";
}

<div class="text-center">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span style="display: inline-block;width: 250px;">@item.Produto</span>
                <span style="display: inline-block;width: 250px;">R$ @item.Preco,00</span>
                <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
            </li>
        }
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Agora Vai</a>.</p>
</div>
