@model Models.ClienteModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de @Model.NomeCliente</h1>

    
    <p>Aqui já é o carrinho.</p>
</div>
